# String methods

## 1. capitalize()	Converts the first character to upper case

In [19]:
text = "hello, world!"
result = text.capitalize()
print(result)

Hello, world!

In [22]:
str = "i Love India"
result = str.capitalize()
print(result)

I love india

## 2.casefold()	Converts string into lower case

In [27]:
str = "This is Python"
result = str.casefold()
print(result)

this is python

In [29]:
text = "It will rain"
result = text.casefold()
print(result)

it will rain

## 3.center()	Returns a centered string

In [38]:
text = "hot"
result = text.center(20)
print(f" '{result}' ")

 '        hot         '

In [42]:
str = "string"
result = text.center(10)
print(f" '{result}' ")

 '   hot    '

## 4.count()	Returns the number of times a specified value occurs in a string

In [47]:
text = "Hi to all people"
count_all = text.count("all")
print(count_all)

1

In [52]:
text = "I love myself and myself only"
count_myself = text.count("myself")
print(count_myself)

2

## 5.encode()	Returns an encoded version of the string

In [56]:
text = "This is good product"
encoded_text = text.encode('utf_8')
print(encoded_text)

b'This is good product'

In [58]:
text = "you should eat fruits"
encoded_text = text.encode('utf_8')
print(encoded_text)

b'you should eat fruits'

## 6 endswith()	Returns true if the string ends with the specified value

In [61]:
text = "I like driving"
result = text.endswith('driving')
print(result)

True

In [65]:
text = "walking is good habit"
result = text.endswith('good')
print(result)

False

## 7.expandtabs()	Sets the tab size of the string

In [70]:
text ="solar system has 9\tplanets" 
expanded_text = text.expandtabs()
print(expanded_text)

solar system has 9      planets

In [72]:
text = "solar\tsystem has 9 planets"
expanded_text = text.expandtabs(4)
print(expanded_text)

solar   system has 9 planets

## 8.find()	Searches the string for a specified value and returns the position of where it was found

In [80]:
text = "you should pray everyday"
position = text.find('should')
print(position)

4

In [78]:
text = "Hi everyone"
position = text.find('everyone')
print(position)

3

## 9.format()	Formats specified values in a string

In [85]:
name = "Roy"
age = 30
formatted_string = "My name is {} and I am {} years old.".format(name,age)
print(formatted_string)

My name is Roy and I am 30 years old.

In [89]:
location = "Paris"
month = "December"
formatted_string = "{} is good place to visit in {} month.".format(location,month)
print(formatted_string)

Paris is good place to visit in December month.

## 10.format_map()	Formats specified values in a string

In [101]:
data = {
    'name':'Denil',
    'age': 33
}

formatted_string = "My name is {name} and I am {age} years old.".format_map(data)
print(formatted_string)

My name is Denil and I am 33 years old.

In [121]:
data = {
    'book': 'The Great Gatsby',
    'author': 'F.scott Fitzgerald',
    'year': 1925
}
formatted_string = "{book} was written by {author} in {year}.".format_map(data)
print(formatted_string)

The Great Gatsby was written by F.scott Fitzgerald in 1925.

## 11.Index()	Searches the string for a specified value and returns the position of where it was found

In [125]:
text ="Hello people"
position = text.index('people')
print(position)

6

In [127]:
str = "I am Enjoying Python"
position = str.index('Enjoying')
print(position)

5

## 12.isalnum()	Returns True if all characters in the string are alphanumeric

In [130]:
text ="I am coder"
result = text.isalnum()
print(result)

False

In [132]:
str = "hello123"
result = str.isalnum()
print(result)

True

## 13.isalpha()	Returns True if all characters in the string are in the alphabet

In [135]:
text = "superhero123"
result = text.isalpha()
print(result)

False

In [137]:
text = "I am good teacher"
result = text.isalpha()
print(result)

False

In [139]:
text = "teacher"
result = text.isalpha()
print(result)

True

## 14.isascii()	Returns True if all characters in the string are ascii characters

In [142]:
text = "python"
result = text.isascii()
print(result)

True

In [144]:
text = "Apple123"
result = text.isascii()
print(result)

True

In [150]:
text = " "
result = text.isascii()
print(result)

True

## 15.isdecimal()	Returns True if all characters in the string are decimals

In [153]:
text = "132.45"
result = text.isdecimal()
print(result)

False

In [155]:
text = "12345"
result = text.isdecimal()
print(result)

True

In [157]:
text = " "
result = text.isdecimal()
print(result)

False

In [161]:
text = '123a5'
result = text.isdecimal()
print(result)

False

## 16.isdigit()	Returns True if all characters in the string are digits

In [164]:
text = '12345'
result = text.isdigit()
print(result)

True

In [166]:
text = " 1234"
result = text.isdigit()
print(result)

False

## 17.isidentifier()	Returns True if the string is an identifier

In [171]:
text = "I am going school"
result = text.isidentifier()
print(result)

False

In [173]:
text = "I_am going school"
result = text.isidentifier()
print(result)

False

In [175]:
text = "I_am_going_school"
result = text.isidentifier()
print(result)

True

## 18.islower()	Returns True if all characters in the string are lower case

In [186]:
text = 'rainy season'
result = text.islower()
print(result)

True

In [180]:
text = "Rainy season"
result = text.islower()
print(result)

False

In [184]:
text = " "
result = text.islower()
print(result)

False

## 19.isnumeric()	Returns True if all characters in the string are numeric

In [189]:
text = "123s3"
result = text.isnumeric()
print(result)

False

In [191]:
text = "123098"
result = text.isnumeric()
print(result)

True

## 20.isprintable()	Returns True if all characters in the string are printable

In [206]:
text = "Hi people"
result = text.isprintable()
print(result)

True

In [202]:
text = "hi%*people"
result = text.isprintable()
print(result)

True

## 21.isspace()	Returns True if all characters in the string are whitespaces

In [209]:
text = "   mangoDb"
result = text.isspace()
print(result)

False

In [211]:
text = "  \t\n"
result = text.isspace()
print(result)

True

## 22.istitle() 	Returns True if the string follows the rules of a title

In [215]:
str = "My name is Garima"
result = str.istitle()
print(result)

False

In [217]:
text = "My Name Is Garima"
result = text.istitle()
print(result)

True

## 23 isupper()	Returns True if all characters in the string are upper case

In [220]:
text = " MY FATHER IS MY SUPERHERO"
result = text.isupper()
print(result)

True

In [222]:
text = "my Fther is my superhero"
result = text.isupper()
print(result)

False

## 24.join()	Converts the elements of an iterable into a string

In [227]:
words =["people","should","be","polite"]
result = " ".join(words)
print(result)

people should be polite

In [233]:
lines = ["Line 1", "Line 2", "Line 3"]
result = "\n".join(lines)
print(result)

Line 1
Line 2
Line 3

In [231]:
numbers = ("1", "2", "3", "4", "5")
result = "-".join(numbers)
print(result)

1-2-3-4-5

## 25.ljust()	Returns a left justified version of the string

In [244]:
text = "python"
result = text.ljust(10)
print(result)

python

In [240]:
str= "python"
result = str.ljust(10,'-')
print(result)

python----

## 26.lower()	Converts a string into lower case

In [249]:
str = "I AM THE BEST"
result = str.lower()
print(result)

i am the best

In [259]:
text = "Python is FUN!"
result = text.lower()
print(result)

python is fun!

## 27.lstrip()	Returns a left trim version of the string

In [262]:
text = "    you should walk"
result = text.lstrip()
print(result)

you should walk

In [266]:
text = "----you should walk---"
result =text.lstrip('-')
print(result)

you should walk---

## 28.maketrans()	Returns a translation table to be used in translations

In [271]:
table = str.maketrans("abc", "123")
text = "abcde"
result = text.translate(table)
print(result)

123de

In [273]:

table = str.maketrans("abc", "123", "de") 
text = "abcde"
result = text.translate(table)
print(result)

123

## 29.partition()	Returns a tuple where the string is parted into three parts

In [295]:
text = "love your parents"
result = text.partition(",")
print(result)

('love your parents', '', '')

In [291]:
text = 'be confident'
result = text.partition(" ")
print(result)

('be', ' ', 'confident')

## 30.replace()	Returns a string where a specified value is replaced with a specified value

In [308]:
text = "My stream is Science"
result = text.replace("Science","Maths")
print(result)

My stream is Maths

In [310]:
text = "one one one"
result = text.replace("one", "two", 2)
print(result)

two two one

## 31.rfind()	Searches the string for a specified value and returns the last position of where it was found

In [323]:
text = "I want to be a topper"
index = text.rfind("topper")
print(index)

15

In [325]:
text = "Be confident"
index = text.rfind("Be")
print(index)

0

## 32.zfill()	Fills the string with a specified number of 0 values at the beginning

In [328]:
text = "768"
result = text.zfill(5)
print(result)

00768

In [330]:
text = "-123"
result = text.zfill(7)
print(result)

-000123

## 33.upper()	Converts a string into upper case

In [333]:
text = 'yoga is good'
result = text.upper()
print(result)

YOGA IS GOOD

In [337]:
text = "always smile"
result = text.upper()
print(result)

ALWAYS SMILE

## 34.translate()	Returns a translated string

In [342]:
translation_table = str.maketrans("abc", "123")
text = "abcdef"
result = text.translate(translation_table)
print(result)

123def

In [344]:
translation_table = str.maketrans("", "", "aeiou")  
text = "Hello, World!"
result = text.translate(translation_table)
print(result)

Hll, Wrld!

## 35.title()	Converts the first character of each word to upper case

In [347]:
str = 'love you self'
result = str.title()
print(result)

Love You Self

In [349]:
text = "be patient"
result = text.title()
print(result)

Be Patient

## 36.swapcase()	Swaps cases, lower case becomes upper case and vice versa

In [355]:
text = "aerobics is good for Health"
result = text.swapcase()
print(result)

AEROBICS IS GOOD FOR hEALTH

In [357]:
text = "danCe,DanCE"
result = text.swapcase()
print(result)

DANcE,dANce

## 37.strip()	Returns a trimmed version of the string

In [360]:
text = "   Hello, World!   "
result = text.strip()
print(result)

Hello, World!

In [364]:
text = ""
result = text.strip()
print(result)

## 38.startswith()	Returns true if the string starts with the specified value

In [376]:
text = "I love Fruits"
result = text.startswith("Fruits")
print(result)

False

In [378]:
text = "Hello, World!"
result = text.startswith("Hello")
print(result)

True

## 39.splitlines()	Splits the string at line breaks and returns a list

In [385]:
text = "I\nlove\nmy\nCountry"
result = text.splitlines()
print(result)

['I', 'love', 'my', 'Country']

In [387]:
text = "party\nhard"
result = text.splitlines()
print(result)

['party', 'hard']

## 40.split()	Splits the string at the specified separator, and returns a list

In [390]:
text = "Hello, World!"
result = text.split(", ")
print(result)

['Hello', 'World!']

In [392]:
text = "Hello World"
result = text.split(",")
print(result)

['Hello World']

## 41.rstrip()	Returns a right trim version of the string

In [395]:
text = "Be Smart    "
result = text.rstrip()
print(result)

Be Smart

In [401]:
text = "be smart?"
result = text.rstrip("?")
print(result)

be smart